
  
body{
    background: linear-gradient(to bottom, #000000, #70065d);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: 'Arvo', 'Crete Round', 'PT Serif', 'Volkhov', sans-serif;

}
html{
    height: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(1, 4, 32);
    border-bottom: 5px rgb(213, 211, 211) solid;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
    font-size: x-large;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover, a:active{
    color: rgb(139, 3, 137);
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #2f022b;
        position:absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
      }
   
    .nav-links.active {
        display: flex;
        z-index: 999;
        
    }
    .menu-icon {
        display: block;
        
    }    
 }

.pagina_atual{
    text-decoration: underline rgba(255, 255, 255, 0.806);
}
.dado20{
    width: 70px;
    
}
.grimoriobonito{
    width: 70px;
    margin-left: 30px;
}
main{
    color: rgb(234, 234, 234);
    text-decoration: underline rgba(255, 255, 255, 0.722);
    
}
.campanhas{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
            'header'
            'section'
            'section'
            'footer';
    color: white;
    text-decoration: underline;
}
.item1 { grid-area: header; text-align: center; }
.item2 { grid-area: section; }
.item4 { grid-area: footer; }
.campanhas .item2{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.campanhas .item2 button{
    width: 50px;
}
.campanhas .item3{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.campanhas .item3 button{
    width: 50px;
}

p{
    font-size: 118%;
    color: #a77cc1;
} 
